.simpletable-main {
  /* Height is updated dynamically */
  height: calc(100% - 30px - 1rem);
  width: 100%;
  overflow: auto;
}

.simpletable-holder {
  position: relative;
  width: 100%;
  height: 100%;
}

.small-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.small-scrollbar::-webkit-scrollbar-track {
  border-radius: 100px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 100px;
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);
}

.simpletable {
  position: relative;
  border-collapse: collapse;
  width: 1px;
  table-layout: fixed;
}

.simpletable-header,
.simpletable-box-header {
  position: sticky;
  z-index: 2;
  top: 0;
  opacity: 1;
  white-space: nowrap;
}
.simpletable-box-header {
  width: 20px;
}

.simpletable-header-text {
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
}

.simpletable-header-text > .simpletable-clickable {
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow-y: visible;
}

.simpletable-header .columnicon-holder {
  justify-self: end;
  min-width: max-content;
  display: flex;
  align-items: center;
}

.simpletable > thead > tr > th,
.simpletable > tbody > tr > td {
  border-left: 1px dotted transparent;
  border-right: 1px dotted transparent;
}

.simpletable > thead > tr > th:hover,
.simpletable > tbody > tr > td:hover {
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-right: 1px solid rgba(0, 0, 0, 0.75);
}

.simpletable > thead > tr > th.simpletable-firstcol {
  position: sticky;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  border-left: 0;
  border-right: 1px dotted transparent;
}
.simpletable > tbody > tr > td.simpletable-firstcol {
  position: sticky;
  left: 0;
  opacity: 1;
  z-index: 1;
  border-left: 0;
  border-right: 1px dotted transparent;
}

.simpletable th:first-child:hover,
.simpletable td:first-child:hover {
  border-right: 1px solid rgba(0, 0, 0, 0.75);
}

.simpletable > thead > th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.simpletable > tbody {
  overflow-y: auto;
}

.simpletable td {
  position: relative;
}

.simpletable td span,
.simpletable td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.simpletable tr.selected td > div {
  background-color: rgba(0, 0, 0, 0.2);
}

.simpletable-clickable {
  cursor: pointer;
}

.simpletable-title-holder {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  align-content: stretch;
  top: 0;
  position: sticky;
  opacity: 1;
  z-index: 2;
  height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}

h5.simpletable-title {
  font-size: 24px;
  height: 30px;
  margin: 0;
  flex-grow: 1;
}

.simpletable-footer-holder {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 0;
  position: sticky;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
}

.simpletable-footer {
  height: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.simpletable-footer > span {
  display: flex;
  align-items: center;
}

.simpletable-search-holder {
  order: 2;
  display: inline-flex;
}

.simpletable-search-holder:last-child {
  margin-right: 1rem;
}

.simpletable-filter-holder {
  order: 3;
  margin-left: 1rem;
  display: flex;
  cursor: default;
  justify-self: flex-end;
}

.simpletable-filter-holder:last-child {
  margin-right: 1rem;
}

.simpletable-filter {
  display: table-cell;
}

.simpletable-filter-label {
  display: table-cell;
  margin-left: 0.5rem;
}

.simpletable .resize-handle {
  display: inline-block;
  position: absolute;
  cursor: col-resize;
  width: 0.5rem;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  border-right: 2px solid transparent;
}

.simpletable .resize-handle:hover {
  border-color: rgba(0, 0, 0, 0.75);
}

.simpletable-footer-holder svg {
  cursor: pointer;
}

.simpletable-footer-holder select {
  border-radius: 4px;
}

.simpletable-columnfilter-holder {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 10;
  border: 1px solid black;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  top: 24px;
  resize: both;
  overflow: auto;
  box-shadow: 4px 4px 4px rgb(64, 64, 64, 0.75);
  min-width: 60px;
}

.simpletable-columnfilter-holder input {
  border-radius: 4px;
  border: 1px solid black;
}

.columnfilter-table {
  height: 100%;
  width: calc(100% - 2px);
  border-collapse: collapse;
}
.columnfilter-table tbody {
  display: block;
  height: calc(100% - 48px);
  overflow: auto;
}
.columnfilter-table thead,
.columnfilter-table tbody tr {
  display: table;
  width: calc(100% - 3px);
  table-layout: fixed;
}
.columnfilter-table thead {
  width: calc(100% - 8px);
  height: 50px;
}
.columnfilter-table tbody {
  border-top: 1px dotted black;
}
.columnfilter-table tfoot {
  border-top: 1px dotted black;
}
.columnfilter-table tr td:first-child,
.columnfilter-table tr th:first-child {
  width: 2rem;
}
.columnfilter-table td {
  text-align: left;
  font-weight: 400;
}

.columnfilter-table-search {
  display: flex;
  width: calc(100% + 8px);
  align-items: top;
}

.columnfilter-table-close {
  color: black;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
}
.columnfilter-table-close:hover {
  background-color: black;
  color: white;
}
