.simpletable-holder {
  position: relative;
}

.simpletable {
  position: relative;
}

.simpletable-header {
  position: sticky;
  z-index: 2;
  top: 30;
  opacity: 1;
  white-space: nowrap;
}
.simpletable-box-header {
  position: sticky;
  z-index: 2;
  top: 30;
  left: 0;
  opacity: 1;
  white-space: nowrap;
}

.simpletable th span,
.simpletable td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.simpletable th span:not(.sorted) {
  padding-right: 20px;
}
.simpletable th span.sorted {
  margin-right: 4px;
}

.simpletable-clickable {
  cursor: pointer;
}

.simpletable-firstcol {
  position: sticky;
  z-index: 1;
  left: 0;
  opacity: 1;
}

.simpletable-title-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  top: 0;
  position: sticky;
  opacity: 1;
  z-index: 2;
}

.simpletable-title-holder-roof,
.simpletable-title-holder-floor {
  min-height: 1rem;
}

h5.simpletable-title {
  font-size: 24px;
  height: 30px;
  margin: 0;
  flex-grow: 1;
}

.simpletable-search-holder {
  order: 2;
  display: inline-flex;
}

.simpletable-search-holder:last-child {
  margin-right: 1rem;
}

.simpletable-filter-holder {
  order: 3;
  margin-left: 1rem;
  display: flex;
  cursor: default;
}

.simpletable-filter-holder:last-child {
  margin-right: 1rem;
}

.simpletable-filter {
  display: table-cell;
}

.simpletable-filter-label {
  display: table-cell;
  margin-left: 0.5rem;
}

.simpletable .resize-handle {
  display: inline-block;
  position: absolute;
  cursor: col-resize;
  width: 0.5rem;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  border-right: 2px solid transparent;
}

.simpletable .resize-handle:hover {
  border-color: rgba(0, 0, 0, 0.75);
}
