.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 4px);
  border-collapse: collapse;
  opacity: 1;
}
.table > thead {
  width: calc(100% - 8px);
  min-height: 50px;
}
.table > thead,
.table > tbody > tr {
  display: table;
  width: calc(100% - 3px);
  table-layout: fixed;
}
.table > tbody {
  display: block;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  font-weight: 400;
  padding-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
}
.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child {
  width: 2rem;
  text-align: center;
  padding: 0;
}

.search {
  display: flex;
  flex-direction: row;
  width: calc(100% + 8px);
  align-items: center;
}
.search > input {
  width: calc(100% - 24px);
  line-height: 1px;
  border-radius: 4px;
  border: 1px solid black;
  margin-left: 4px;
}

.close {
  color: black;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
  line-height: 1rem;
}
.close:hover {
  background-color: black;
  color: white;
}

.boxHeader {
  opacity: 1;
  background-color: var(--st-main-background-color);
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 100px;
}
.scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 100px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);
}

.checkboxContainer {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  padding: 4px;
}

.checkboxContainer input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
}

.checkboxContainer::before {
  content: "";
  display: block;
  width: 75%;
  height: 75%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--st-header-background-color);
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.checkboxContainer:has(input[type="checkbox"]:checked)::before {
  background-color: black;
  border-color: white;
}

.checkboxContainer:has(input[type="checkbox"]:indeterminate)::before {
  background-color: grey;
  border-color: grey;
}
