tr.selected > td {
  background-color: rgba(0, 0, 0, 0.2);
}

.firstcol {
  position: sticky;
  left: 0;
  opacity: 1;
  z-index: 1;
  border-left: 1px dotted transparent;
  border-right: 1px dotted transparent;
}
.firstcol:hover {
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-right: 1px solid rgba(0, 0, 0, 0.75);
}
