.cell {
  border-left: 1px dotted transparent;
  border-right: 1px dotted transparent;
  position: relative;
}

.cell:hover {
  border-right: 1px solid rgba(0, 0, 0, 0.75);
}
.cell:hover {
  border-left: 1px solid rgba(0, 0, 0, 0.75);
}

.cell div,
.cell span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
